body
{
	background: black;
	
}
ul
{
	list-style-type: none;
	padding: 200px, 200px;
	display: flex;
	justify-content: space-around;
	margin-right: 25px;
}
li
{
	float: left;
	position: relative;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-family: helvetica;
	font-size: 20px;
	letter-spacing: 2px;
}
li:after
{
	content: "";
	position: absolute;
	background-color: #DA291C;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}
li:hover
{
	color: #DA291C;
}
li:hover:after
{
	width: 100%;
}
a
{
	color: white;
	text-decoration: none;
}
.education
{
	text-align: center;
}
.threecolumn
{
	width: 100%;
}
.column 
{
  float: left;
  width: 25%;
  text-align: center;
  margin: 25px 0;
}
.experience p
{
	color: white;
	font-size: 20px;
	font-family: halvetica;
	padding: 0;
}